.wrapper-8 
  .l-section-margins
    .l-toptitle.bio 
      h2.fn-big2 Biography
  
.magic

.prgph
  .verthorz--textwrap
    .verthorz--content
      h3
        span.fn-med.cl-gold Cipto Hartanto 
        span was born in a warm-climate city in 
        span.cl-gold Pekanbaru
        span , 
        span.cl-gold Indonesia
        span . In 
        span.cl-gold 2006 
        span he moved to 
        span.cl-gold Bandung, Indonesia, 
        span to study 
        span.cl-gold Visual Communication Design. 
        span The following four-year journey had shaped him into a young person with an eye for attention to detail in terms of conveying ideas through a 
        span.cl-gold visual approach.
        span Somehow, the long haul observations and design brainstorming sessions during his study at 
        span.cl-gold Institut Teknologi Harapan Bangsa (ITHB) 
        span challenged and motivated him to pursue a higher understanding and deeper application of Visual Communication Design.

.prgph
  .verthorz--textwrap
    .verthorz--content
      h3
        span In 
        span.cl-gold 2012, 
        span Cipto had a great chance to learn 
        span.cl-gold Mandarin 
        span and acquire 
        span.cl-gold a master's degree 
        span in 
        span.cl-gold Taipei, Taiwan. 
        span He majored in 
        span.cl-gold Interactive Media Design 
        span with a focus on 
        span.cl-gold User Interface 
        span and 
        span.cl-gold User Experience 
        span topics. During his study, he was fortunate to meet and exchange ideas with a lot of new friends from different countries and backgrounds, and who eventually helped him conduct workshops of his future research.

.prgph
  .verthorz--textwrap
    .verthorz--content
      h3
        span Cipto started his research full-time in 2013 at 
        span.cl-gold National Taipei University of Technology (NTUT / 國立台北科技大學). 
        span The research was about 
        span.cl-gold redesigning and redefining user interface of a Smart TV. 
        span He utilized 
        span.cl-gold Service Design
        span , 
        span.cl-gold Analytical Hierarchy Process
        span , and 
        span.cl-gold System Usability Scale 
        span methods to achieve his research objectives. Besides doing his research, he also presented several papers to both 
        span.cl-gold local 
        span and 
        span.cl-gold international conferences
        span . The committees of 
        span.cl-gold International Urban Forum 
        span awarded him 
        span.cl-gold a best paper award
        span in 
        span.cl-gold 2013
        span . His presented research was about 
        span.cl-gold Digital Signage
        span .

.prgph
  .verthorz--textwrap
    .verthorz--content
      h3
        span Cipto took one year to finish his thesis and 
        span.cl-gold graduate 
        span from NTUT with a master's degree in 
        span.cl-gold 2014
        span . Today, he is continuing his journey in Taiwan. He has worked as 
        span.cl-gold a designer 
        span in two startup companies and has been in charge of 
        span.cl-gold Web creation
        span , 
        span.cl-gold visual communication publications
        span , and 
        span.cl-gold photography
        span .

.prgph
  .verthorz--textwrap
    .verthorz--content
      h3
        blockquote.clear-pad He believes that design is created not to solve people's problems but also to excite their lives. He also sees that design should be like the sun: an entity that is omnipresent, heals, and gives us hope.
