footer
  h3
    span This was hand-coded with excellence on 
    span
      a.btn-inter(href="https://jekyllrb.com/" target="_blank") Jekyll
    span  by
    span
      a.btn-inter(href="http://www.ciptohartanto.com") Cipto Hartanto
    span  in 
    span
      a.btn-inter(href="https://en.wikipedia.org/wiki/Taipei" target="_blank") Taipei City
    span  and 
    span proofread by 
    
    span
      a.btn-inter(href="mailto:simsjessica03@gmail.com") Jessi
    span . 
    br
    span Free royalty images from
    span
      a.btn-inter(href="https://unsplash.com/") Unsplash.com
    span .
  br
  h3.fn-small2 This website is solely for exhibiting my best projects that were created while working under my past and present full-time employer(s), who own the rights to these materials.
