.wrapper-12
  .l-head-banner
    
    .l--logo
      a(href="{{site.url}}")
        img(src="/assets/img/cipto-logo.svg" alt="Cipto Hartanto Logo" title="Cipto Hartanto")
    .btn-menu
      span.btn-menu--
      span.btn-menu---
