    
.l--nav
  nav.verthorz--textwrap
    ul.verthorz--content
      li
        a(href='https://ciptohartanto.com') Home
      li
        a(href='/porto.html') Portfolio
      li
        a(href='/bio.html') Bio
      
