
.wrapper-12
  .l-portoIn
    
    .l-excerpt-sel
      .l-excerpt-sel-txt
        br
        br
        br
        article Once my friend said: "life starts after you finish your office work". I aggree! Here is a dedicated page for my past creative work done during my free time. Cheers!

      //- .l-excerpt-role
      //-   .qList
      //-     span.qList--title Roles
      //-     ul.qList--list
      //-       li Visual Executor
      //-       li Photographer
      //-   .qList
      //-     span.qList--title Tools
      //-     ul.qList--list
      //-       li Photoshop
      //-       li Illustration
      //-       li Canon 7D and iPhone 5s 
      
.wrapper-12.l-vcd-in
  .l-portoIn
    .l-portoIn--block
      img.l-portoIn--MainImg(src="/assets/img/porto/visual/other-1.jpg" alt="{{page.alt}}")
      h3 A banner for IFGF Taipei.
    .l-portoIn--block
      img.l-portoIn--MainImg(src="/assets/img/porto/visual/other-2.jpg" alt="{{page.alt}}")
      h3 An illustration project for Mid Autumn Festival
    .l-portoIn--block
      video.l-portoIn--MainImg(width='100%' controls)
        source(src="/assets/img/porto/visual/vid/Taipei.mp4")
    .l-portoIn--block
      video.l-portoIn--MainImg(width='100%' controls)
        source(src="/assets/img/porto/visual/vid/RBC-project.mp4")
    .l-portoIn--block
      img.l-portoIn--MainImg(src="/assets/img/porto/visual/other-3.jpg" alt="{{page.alt}}")
      h3 A landing page sketch of Our Daily Bread website.
    .l-portoIn--block
      img.l-portoIn--MainImg(src="/assets/img/porto/visual/other-4.jpg" alt="{{page.alt}}")
      h3 Two Bookmark Designs for Our Daily Bread.
