.wrapper-8    
  .l-section-margins
    .l-toptitle
      h2.fn-big2 Portfolio
    .l-porto--icons#tabs
      //- a.l-porto--icons-wrapper(href="/porto-ui.html")
      //-   img(src="assets/img/ico-ui.svg" alt="icon for Cipto Hartanto's work on User Interface")
      //-   h3.fn-med User Interface
      a.l-porto--icons-wrapper(href="/porto-vcd.html")
        img(src="assets/img/ico-gd.svg" alt="icon for Cipto Hartanto's work on Graphic/Visual Communication Design")
        h3.fn-med Visual Design
      a.l-porto--icons-wrapper(href="/porto-photo.html")
        img(src="assets/img/ico-cam.svg" alt="icon for Cipto Hartanto's work on Photography")
        h3.fn-med Still Images
