
.wrapper-12
  .l-portoIn
    .l-section-margins
    img.l-portoIn--MainImg(src="/assets/img/porto/visual/tw-0.jpg" alt="{{page.alt}}")
    .l-excerpt
      .l-excerpt-txt
        article 
          p These designs were made when I was working as a full-time graphic designer at Everfriend Co., Ltd., a health food distribution start-up, in Taiwan. I have found that working in a different environment with different tastes and styles is a worthwhile experience. This has allowed me to understand the usage of colors, typography, layout, and compositions.
          p Most of these projects were done with limited resources. I was able to make use of these things and build something creative upon them. There were times where I had to employ an iPhone 5s to take product pictures in a portable studio. Even though there might be detail lost in the results, it still gave me an opportunity to find a way around difficult circumstances.
          

      .l-excerpt-role
        .qList
          span.qList--title Roles
          ul.qList--list
            li Visual Executor
            li Photographer
        .qList
          span.qList--title Tools
          ul.qList--list
            li Photoshop
            li Illustration
            li Canon 7D and iPhone 5s      
.wrapper-12.l-vcd-in
  .l-portoIn
    .l-portoIn--block
      img.l-portoIn--img-DB(src="/assets/img/porto/visual/tw-1.jpg" alt=" {{page.alt}}")
      img.l-portoIn--img-DB(src="/assets/img/porto/visual/tw-2.jpg" alt="{{page.alt}}")
      img.l-portoIn--img-DB(src="/assets/img/porto/visual/tw-3.jpg" alt="{{page.alt}}")
      img.l-portoIn--img-DB(src="/assets/img/porto/visual/tw-4.jpg" alt="{{page.alt}}")
      img.l-portoIn--img-DB(src="/assets/img/porto/visual/tw-5.jpg" alt="{{page.alt}}")
      img.l-portoIn--img-DB(src="/assets/img/porto/visual/tw-6.jpg" alt="{{page.alt}}")
      img.l-portoIn--img-DB(src="/assets/img/porto/visual/tw-7.jpg" alt="{{page.alt}}")
      img.l-portoIn--img-DB(src="/assets/img/porto/visual/tw-8.jpg" alt="{{page.alt}}")
      img.l-portoIn--img-DB(src="/assets/img/porto/visual/tw-9.jpg" alt="{{page.alt}}")
      img.l-portoIn--img-DB(src="/assets/img/porto/visual/tw-10.jpg" alt="{{page.alt}}")
      
  
